<banner1>
	  <%= link_to 'Sign Up', signup_path %>
	<% if signed_in? %>
      <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
    <% else %>
	  <%= link_to 'Sign In', signin_path %>
   <% end %>
	
<%= image_tag("catdog.jpg", :alt => "Cat & Dog",:width=>"204",:height=>"128")%>

</banner1>